#boton-copiar{
  width: 20px;
  padding: 0;
  aspect-ratio: 1;
}

#container{
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

app-tablero{
  margin: auto 0;
}

#pie{
  p{
    font-size: 12px;
    text-align: center;
  }
  button{
    // margin-left: 0.5rem;
    width: 1rem;
    border: unset;
    background-color: unset;
    cursor: pointer;
  }
}