<div>
  <button (click)="jugar(0)" [disabled]="!esMiTurno()">{{salaService.tablero()[0]}}</button>
  <button (click)="jugar(1)" [disabled]="!esMiTurno()">{{salaService.tablero()[1]}}</button>
  <button (click)="jugar(2)" [disabled]="!esMiTurno()">{{salaService.tablero()[2]}}</button>
</div>
<div>
  <button (click)="jugar(3)" [disabled]="!esMiTurno()">{{salaService.tablero()[3]}}</button>
  <button (click)="jugar(4)" [disabled]="!esMiTurno()">{{salaService.tablero()[4]}}</button>
  <button (click)="jugar(5)" [disabled]="!esMiTurno()">{{salaService.tablero()[5]}}</button>
</div>
<div>
  <button (click)="jugar(6)" [disabled]="!esMiTurno()">{{salaService.tablero()[6]}}</button>
  <button (click)="jugar(7)" [disabled]="!esMiTurno()">{{salaService.tablero()[7]}}</button>
  <button (click)="jugar(8)" [disabled]="!esMiTurno()">{{salaService.tablero()[8]}}</button>
</div>