<div id="container" class="flex-column">
  <div id="botones-container" class="flex-apart">
    <div id="d-pad-container">
      <div></div>
      <div></div>
    </div>
    <div id="x-o-container">
      <div id="x-o-borde-container" class="flex-apart">
        <div class="boton-redondo"><span>X</span></div>
        <div class="boton-redondo"><span>O</span></div>
      </div>
    </div>
  </div>
  <div id="botones-start-container">
    <div class="boton-alargado"><span>SELECT</span></div>
    <div class="boton-alargado"><span>START</span></div>
  </div>
  <div id="parlante-container">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>