<section class="flex-apart">
  <div class="jugador-container">
    <span class="corazon-container">
      @for(vida of vidasP1(); track $index){♥}
    </span>
    <span class="marca-jugador" [ngClass]="{activo: salaService.estado() === 'TURNO_P1'}">X</span>
    <p class="italic">{{salaService.jugador1().nombre}}</p>
  </div>
  <div class="jugador-container">
    <span class="marca-jugador" [ngClass]="{activo: salaService.estado() === 'TURNO_P2'}">O</span>
    @if(!salaService.jugador2().nombre){
      <span class="corazon-container">
        ♥♥♥
      </span>
    }
    @else {
      <span class="corazon-container">
        @for(vida of vidasP2(); track $index){♥}
      </span>
    }
    <p class="italic">{{salaService.jugador2().nombre || "..."}}</p>
  </div>
</section>
@if(salaService.estado() === 'TURNO_P1' || salaService.estado() === 'TURNO_P2'){
  <p class="turno">Turno de {{salaService.estado() === 'TURNO_P1' ? salaService.jugador1().nombre : salaService.jugador2().nombre}}</p>
}